<div class="foot-btn">
    <ul>
        <li class="home"><a href="http://localhost:8090/"></a></li>
        <li class="write"><a href="javascript:;"></a></li>
        <li class="my"><a href="http://localhost:8090/mydoc"></a></li>
    </ul>
</div>